@font-face {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(NanumSquare-Light.woff2) format("woff2");
}
@font-face {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(NanumSquare.woff2) format("woff2");
}
@font-face {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(NanumSquare-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "NanumSquare";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(NanumSquare-ExtraBold.woff2) format("woff2");
}
