@font-face {
  font-family: "NanumBarunpen";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(NanumBarunpen.woff2) format("woff2");
}
@font-face {
  font-family: "NanumBarunpen";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(NanumBarunpen-Bold.woff2) format("woff2");
}
